<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header font-italic" style="text-align: center"><h3>Adding new tender</h3></div>

                    <div class="card-body">
                        <label class="h4">New tender title: <span class="h5" style="color: red">{{title}}</span></label>
                        <input style="margin-bottom: 10px" class="form-control" type="text" v-model="title">
                        <textarea style="margin-bottom: 10px" class="form-control" v-model="body"></textarea>
                        <button @click="addTender()" class="btn btn-primary">Add new tender</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import url from '../app.js';

    export default {
        name: "createTender",

        data: function () {
            return {
                title: '',
                body: '',
                params: new FormData()
            };
        },

        methods: {
            addTender() {
                this.params.append('title', this.title);
                this.params.append('body', this.body);
                axios.post(url + '/api/tender/add', this.params)
                    .then(response => {
                        $.notify("Successfully created!", "success");
                        this.title = '';
                        this.body = '';
                    }).catch(error => console.log(error));
            },
        }
    }
</script>

<style scoped>

</style>