<template>
    <div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Body</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="(entry, index) in tendersNew">
                    <th scope="row" v-bind:key="entry.id">{{entry.id}}</th>
                    <td>{{entry.title}}</td>
                    <td>{{entry.body}}</td>
                    <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-backdrop="static" data-target="#exampleModalCenter" @click="tender = entry; tenderOld = JSON.parse(JSON.stringify(entry));">Update</button></td>
                    <td @click="deleteTender(entry.id,index)"><button type="button" class="btn btn-danger btn-sm">Delete</button></td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li v-bind:class="{active: pagination.fromPage === pagination.currentPage}" class="page-item"><a class="page-link" href="#" @click="viewTender(pagination.firstLink)">First</a></li>
                <li v-bind:class="{disabled: !pagination.prevLink}" class="page-item"><a class="page-link" href="#" @click="viewTender(pagination.prevLink)">Previous</a></li>
                <li v-for="n in pagination.lastPage" v-bind:key="n" v-bind:class="{active: pagination.currentPage === n}"
                    v-if="Math.abs(n - pagination.currentPage) < 5"
                    class="page-item"><a class="page-link" href="#" @click="viewTender(pagination.pathPage + n)">{{n}}</a></li>
                <li v-bind:class="{disabled: !pagination.nextLink}" class="page-item"><a class="page-link" href="#" @click="viewTender(pagination.nextLink)">Next</a></li>
                <li v-bind:class="{active: pagination.lastPage === pagination.currentPage}" class="page-item"><a class="page-link" href="#" @click="viewTender(pagination.lastLink)">Last</a></li>
            </ul>
        </nav>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-group text-center">
                            <h4 class="font-italic">Tender Id: {{tender.id}}</h4>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label font-weight-bold">Change title:</label>
                            <input type="text" class="form-control" v-model="tender.title">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label font-weight-bold">Change body:</label>
                            <textarea style="margin-bottom: 10px" class="form-control" v-model="tender.body" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"  @click="saveChanges()" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import url from '../app.js';

    export default {
        name: "Tenders",

        data: function() {
            return {
                tendersNew: {},
                pagination: {},
                tender: [],
                params: new FormData(),
                tenderOld: [],
            }
        },

        created() {
           this.viewTender();
        },

        methods: {
            viewTender(pagi) {
                pagi = pagi || url + '/api/tenders';
                axios.get(pagi)
                    .then(response => {
                        this.tendersNew = response.data.data;
                        this.pagination = {
                            currentPage: response.data.current_page,
                            lastPage: response.data.last_page,
                            fromPage: response.data.from,
                            toPage: response.data.to,
                            totalPage: response.data.total,
                            pathPage: response.data.path+"?page=",
                            firstLink: response.data.first_page_url,
                            lastLink: response.data.last_page_url,
                            prevLink: response.data.prev_page_url,
                            nextLink: response.data.next_page_url
                        };
                    })
                    .catch(error => console.log(error));
            },

            deleteTender(id,index) {
                this.tendersNew.splice(index, 1);
                axios.get(url + '/api/tender/delete/' + id)
                    .then(response => $.notify("Successfully deleted!", "error"))
                    .catch(error => console.log(error));
            },

            saveChanges() {
                this.params.append('title', this.tender.title);
                this.params.append('body', this.tender.body);
                axios.post(url + '/api/tender/edit/' + this.tender.id, this.params)
                    .then(response => $.notify("Successfully updated!", "info"))
                    .catch(error => {
                        this.tender.title = this.tenderOld.title;
                        this.tender.body = this.tenderOld.body;
                    });
            }
        }
    }
</script>

<style scoped>

</style>