<template>
    <div>
        <ul v-for="entry in tendersNew" class="list-group" style="margin-bottom: 40px">
            <li class="list-group-item font-weight-bold font-italic text-center">{{entry.title}}</li>
            <li class="list-group-item">{{entry.body}}</li>
        </ul>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li v-bind:class="{active: pagination.fromPage === pagination.currentPage}" class="page-item"><a class="page-link" href="#" @click="viewTender(pagination.firstLink)">First</a></li>
                <li v-bind:class="{disabled: !pagination.prevLink}" class="page-item"><a class="page-link" href="#" @click="viewTender(pagination.prevLink)">Previous</a></li>
                <li v-for="n in pagination.lastPage" v-bind:key="n" v-bind:class="{active: pagination.currentPage === n}"
                    v-if="Math.abs(n - pagination.currentPage) < 5"
                    class="page-item"><a class="page-link" href="#" @click="viewTender(pagination.pathPage + n)">{{n}}</a></li>
                <li v-bind:class="{disabled: !pagination.nextLink}" class="page-item"><a class="page-link" href="#" @click="viewTender(pagination.nextLink)">Next</a></li>
                <li v-bind:class="{active: pagination.lastPage === pagination.currentPage}" class="page-item"><a class="page-link" href="#" @click="viewTender(pagination.lastLink)">Last</a></li>
            </ul>
        </nav>
    </div>
</template>

<script>
    import url from '../app.js';

    export default {
        name: "tenders",

        data: function() {
            return {
                tendersNew: {},
                pagination: {},
            }
        },

        created() {
            this.viewTender();
        },

        methods: {
            viewTender(pagi) {
                pagi = pagi || url + '/api/tenders';
                axios.get(pagi)
                    .then(response => {
                        this.tendersNew = response.data.data;
                        this.pagination = {
                            currentPage: response.data.current_page,
                            lastPage: response.data.last_page,
                            fromPage: response.data.from,
                            toPage: response.data.to,
                            totalPage: response.data.total,
                            pathPage: response.data.path + "?page=",
                            firstLink: response.data.first_page_url,
                            lastLink: response.data.last_page_url,
                            prevLink: response.data.prev_page_url,
                            nextLink: response.data.next_page_url
                        };
                    })
                    .catch(error => console.log(error));
            }
        }
    }
</script>